@mixin app-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    app-feed {
        .mat-toolbar {
            background: mat-color($primary, darker);
        }
        .bottom,
        .mat-paginator {
            background: mat-color($background, card) !important;
        }
        app-custom-icons {
            fill: map-get($foreground, base);
        }
    }

    app-item {
        .mat-toolbar {
            background: map-get($background, card);
            .title,
            app-item-icon mat-icon {
                color: mat-color($accent) !important;
            }
        }
    }

    button:hover:enabled {
        color: mat-color($accent);
        .mat-icon {
            color: mat-color($accent);
        }
        app-custom-icons {
            fill: mat-color($accent);
        }
        background: map-get($background, hover) !important;
    }

    mat-list-option {
        background: map-get($background, card);

        &:hover {
            .mat-list-text {
                color: mat-color($accent);
            }
        }

        .menu-container {
            background: map-get($background, card);
        }
    }

    .mat-list-single-selected-option {
        background: map-get($background, selected-button) !important;

        .mat-list-text {
            color: mat-color($accent);
            section {
                opacity: 1;
            }
        }
    }

    .mat-button-toggle-checked {
        color: mat-color($accent);
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: map-get($background, disabled-button);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: map-get($background, disabled-button);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: map-get($background, selected-button);
    }
}

@mixin grid-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    app-grid {
        .mat-card {
            @include mat-elevation(3);
            background: map-get($background, disabled-button);

            &:hover {
                @include mat-elevation-transition;
                @include mat-elevation(8);
                background: map-get($background, hover);
                .content,
                .mat-card-title,
                .details {
                    opacity: 1;
                    color: mat-color($accent, darker);
                }

                .content {
                    filter: grayscale(0.5);
                }
            }

            .details {
                .subLink {
                    &:hover {
                        color: mat-color($accent, main);
                        text-decoration: underline;
                    }
                }
            }
        }

        .mat-card.selected {
            background-color: map-get($background, selected-button);

            @include mat-elevation(10);
            .mat-card-title {
                color: mat-color($accent, darker);
                opacity: 1;
            }
            .content {
                opacity: 1;
                filter: grayscale(0);
            }
            .details {
                opacity: 1;
                color: mat-color($accent, darker);
            }
        }

        .mat-card.new {
            .mat-card-title {
                opacity: 1;
                font-weight: bold;
            }
            .content {
                opacity: 1;
                filter: grayscale(0);
            }
            .details {
                opacity: 1;
            }
            background: map-get($background, card);
            &:hover {
                background: map-get($background, hover);
            }
        }
    }
}

@mixin custom-modal-theme($theme) {
    $primary: map-get($theme, primary);

    .custom-modalbox-directory {
        min-width: 30%;
    }

    .custom-modalbox-subscription {
        min-width: 50%;
    }

    .custom-modalbox-filter {
        min-width: 35%;
    }

    .custom-modalbox-directory,
    .custom-modalbox-filter,
    .custom-modalbox-subscription {
        overflow: hidden;

        .mat-dialog-container {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        [mat-dialog-title] {
            background: mat-color($primary, darker);
            padding: 10px;
            .mat-icon {
                margin-right: 5px;
                font-size: 20px;
            }
        }

        mat-dialog-content {
            margin: 0px;
        }

        mat-form-field {
            display: block;
        }

        .mat-focused .mat-form-field-label {
            color: mat-color($primary, lighter) !important;
        }

        mat-dialog-actions {
            margin: 0px;
            padding: 10px;
        }
    }
}
