mat-sidenav-container {
    width: 100% !important;
}
mat-sidenav {
    width: 20%;
    height: 100%;
}

mat-sidenav-content {
    min-width: 80% !important;
    max-width: 100% !important;
    height: 100vh;
    overflow: hidden;
}

mat-drawer {
    width: 40%;
    height: 100vh;
    overflow: hidden;
}

mat-drawer-container {
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
}

mat-drawer-content {
    min-width: 60% !important;
    max-width: 100% !important;
    overflow: hidden;
}
