.title {
    // text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    // vertical-align: middle;
    // height: 40px;
    // line-height: 40px;
    opacity: 0.8 !important;

    .mat-button {
        font-size: 16px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .mat-icon {
        margin-right: 2px !important;
        margin-left: 0px !important;
    }

    app-custom-icons {
        top: 2px;
        position: relative;
        margin-left: 2px;
    }
}

.bottom {
    display: flex;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 8px;
    vertical-align: middle;
}

::ng-deep .mat-paginator-container {
    min-height: 40px !important;
    height: 40px !important;
    display: block;
}

.scroll-container {
    overflow-y: auto;
    height: calc(100vh - 100px);
}

:host {
    &:hover {
        .buttons {
            display: inherit;
        }
        .title {
            opacity: 1 !important;
        }
    }
}

.buttons {
    display: none;
}

mat-progress-bar {
    position: absolute !important;
}

.update {
    animation: animateHeart 1.2s infinite ease-out;
}

@keyframes animateHeart {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 2px rgba(95, 74, 74, 0.2);
    }
    5% {
        transform: scale(1.1);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
        box-shadow: 0 0 0 5px rgba(121, 89, 89, 0.4);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: scale(1);
        color: red;
    }
}
