<mat-toolbar>
    <mat-progress-bar color="accent" mode="buffer" *ngIf="loading$ | async"></mat-progress-bar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleHideMenu()"
            [matTooltip]="hiddenmenu ? 'Show tree menu' : 'Hide tree menu'" matTooltipPosition="below">
            <mat-icon>{{hiddenmenu ? 'menu' : 'chevron_left'}} </mat-icon>
        </button>
        <span class="title">
            <span *ngFor="let header of headers">
                /
                <ng-container *ngIf="header.path == '/'">
                    <button mat-icon-button (click)="onSelectHeader(header)" matTooltip="Return to root"
                        matTooltipPosition="below">
                        <mat-icon>home</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="header.path != '/'">
                    <button mat-button [matTooltip]="header.description" matTooltipPosition="below"
                        (click)="onSelectHeader(header)">
                        <app-custom-icons [icon]="header.icon" *ngIf="header.icon && header.leaf; else folderIcon">
                        </app-custom-icons>
                        <ng-template #folderIcon>
                            <mat-icon>{{header.leaf ? 'rss_feed': 'folder'}}</mat-icon>
                        </ng-template>

                        {{header.label}}
                    </button>
                </ng-container>
            </span>
        </span>
        <span class="flex"></span>
        <span class="buttons">
            <ng-container *ngIf="updateBtn">
                <button mat-icon-button matTooltip="Load new items" matTooltipPosition="below" class="update"
                    (click)="loadMoreItems()">
                    <mat-icon>sync</mat-icon>
                </button>
            </ng-container>
            <button mat-icon-button matTooltip="Search text" matTooltipPosition="below">
                <mat-icon>search</mat-icon>
            </button>
            <app-filter-menu (filter)="onChangeFilter($event)"></app-filter-menu>
            <button mat-icon-button (click)="typeGrid = !typeGrid" matTooltip="Change view" matTooltipPosition="below">
                <mat-icon *ngIf="!typeGrid">apps</mat-icon>
                <mat-icon *ngIf="typeGrid">list</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div #scrollcont class="scroll-container" [appLoadingMask]="loading$ | async">

    <app-timeline *ngIf="!typeGrid" [selected]="selected$ | async" (markRead)="onMarkAsRead($event)"
        (select)="onSelecItem($event)" (favorite)="onFavoriteItem($event)" (selectSub)="onSelectSub($event)"
        [items]="items$ | async">
    </app-timeline>

    <app-grid *ngIf="typeGrid" [selected]="selected$ | async" (favorite)="onFavoriteItem($event)"
        (markRead)="onMarkAsRead($event)" (select)="onSelecItem($event)" (selectSub)="onSelectSub($event)"
        [items]="items$ | async"></app-grid>
</div>

<div class="bottom">
    <app-pagesize (change)="onChangePageSize($event)"> </app-pagesize>
    <span style="flex: 1"></span>
    <mat-paginator #paginator [showFirstLastButtons]="true" [length]="total$ | async" (page)="onChangePage($event)"
        hidePageSize="true" [pageSize]="pageSize">
    </mat-paginator>
    <span style="flex: 1"></span>
    <button mat-icon-button (click)="markAllRead()" matTooltip="Mark all as read" matTooltipPosition="below">
        <mat-icon>done_all</mat-icon>
    </button>
</div>