.title {
    // text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    // vertical-align: middle;
    // height: 40px;
    // line-height: 40px;
    opacity: 0.8 !important;

    .mat-button {
        font-size: 16px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .mat-icon {
        margin-right: 2px !important;
        margin-left: 0px !important;
    }
}

.bottom {
    height: 50px;
    display: flex;
}

.scroll-container {
    overflow-y: auto;
    height: calc(100vh - 100px);
}

:host {
    &:hover {
        .buttons {
            display: inherit;
        }
        .title {
            opacity: 1 !important;
        }
    }
}

.buttons {
    display: none;
}
