mat-toolbar {
    position: absolute;
}

mat-toolbar-row {
    .buttons {
        visibility: hidden;
    }

    &:hover {
        .buttons {
            visibility: visible;
        }
    }

    .flex-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mat-toolbar-row {
    height: 50px;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}

.first {
    position: relative;
    top: 50px !important;
    // margin-top: 50px !important;
    height: calc(100vh - 50px);
    overflow: auto;
}

mat-action-list.mat-list-base {
    padding-top: 0px !important;
}

mat-spinner {
    margin-left: 10px;
    margin-right: 10px;
}

mat-icon.folder {
    margin-right: 5px;
    margin-top: 4px;
}

:host {
    display: flex;
    flex-direction: column;
    outline: none;
    //    width: 100%;
}

.mat-list-item {
    width: auto !important;
    opacity: 0.7 !important;

    &:hover {
        opacity: 1 !important;

        .items_count {
            display: none;
        }

        .options_menu {
            display: block;
        }

        .drag_handle {
            visibility: visible;
        }
    }

    .options_menu {
        display: none;
    }

    .drag_handle {
        visibility: hidden;
        margin-right: -10px;
        margin-left: -10px;
        cursor: grab;
    }
}

.has-items {
    opacity: 1 !important;
}

:host ::ng-deep {
    .mat-list-item-content {
        padding: 0px !important;
        width: auto;
    }
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: 35px;
    }
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items_count {
    margin-right: 15px;
    font-size: 0.65em !important;
    font-weight: bold;
}

.flex-container {
    flex: 1;
}
