<mat-selection-list (selectionChange)="onChange($event)" [multiple]="false">
    <mat-list-option *ngFor="let item of items" [value]="item" [selected]="!!selected && item.ID == selected.ID">
        <section class="container flex" [ngClass]="{'new' : item.New}">
            <div>
                <button (click)="setFavorite($event, item)" mat-icon-button class="favorite"
                    [ngClass]="{'hidden' : !item.Favorite}">
                    <mat-icon>{{ item.Favorite ? "star": "star_outline"}}</mat-icon>
                </button>
            </div>
            <div class="shrink-2-basis">
                <app-item-icon [ItemType]="item?.Type" [matTooltip]="item?.Title"></app-item-icon>
                {{item.Title}}
            </div>
            <div class="item flex-item-1">
                <span class="subLink"
                    (click)="onSelectSub($event, {id: item.Subscription, label: item.SubscriptionName})">
                    {{item.SubscriptionName}}
                </span>
            </div>
            <div class="item mat-caption">
                {{item.Published | customDate}}
            </div>
        </section>
        <div class="menu-container">
            <button *ngIf="(!!selected && item.ID != selected?.ID) || item.New" mat-icon-button
                matTooltip="Mark as read" matTooltipPosition="above" (click)="markAsRead($event, item)">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </mat-list-option>
</mat-selection-list>