.mat-list-base {
    padding-top: 0px !important;
}

mat-list-option {
    margin-top: 2px;

    &:hover {
        .favorite,
        .menu-container {
            visibility: visible;
        }

        .mat-list-text {
            section {
                opacity: 1 !important;
            }
        }
    }
}

:host ::ng-deep .mat-list-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content-reverse,
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
    padding-left: 0px !important;
    padding-right: 16px !important;
}

mat-selection-list {
    margin: 10px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}

/* Flex Item */
.item {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.container {
    opacity: 0.5;
    width: 100%;
    margin: 0 auto;
}

.new {
    opacity: 1 !important;

    .shrink-2-basis {
        font-weight: bold;
    }
}

.shrink-3-basis {
    flex-shrink: 3;
    flex-basis: 40px;
}

.shrink-2-basis {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    flex-shrink: 2;
    flex-basis: 70%;
    text-overflow: ellipsis;
    padding-right: 10px;
    // display: block;
    overflow: hidden;
    width: 70%;
}
.subLink:hover {
    text-decoration: underline;
}

.favorite {
    color: orange !important;
    opacity: 1 !important;
}

.menu-container {
    float: right;
    position: absolute;
    right: 0px;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}
