<div id="item-container">
    <mat-toolbar>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-toolbar-row>
            <app-item-icon [ItemType]="model.Type"></app-item-icon>
            <span class="title" [innerHTML]="model?.Title"></span>

            <span class="flex"></span>

            <span class="item-buttons">
                <button mat-icon-button (click)="openLink()" matTooltip="Open link in new window"
                    matTooltipPosition="above">
                    <mat-icon>open_in_new</mat-icon>
                </button>
                <button [disabled]="loading" mat-icon-button (click)="donwloadItem()" matTooltip="Download content"
                    matTooltipPosition="above">
                    <mat-icon>download</mat-icon>
                </button>
                <button mat-icon-button (click)="close.emit()">
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>


    <div id="main" [appLoadingMask]="loading">

        <!-- videos -->
        <div *ngIf="model?.Type == 'video'" style="height: 50%;">

            <div *ngIf="model?.Provider == 'itunes' else blockEmbed">
                <video controls width="100%" style="height:100%">
                    <source [src]="model?.Link" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
            <ng-template #blockEmbed>
                <app-iframe-player [url]="model?.Content">
                </app-iframe-player>
            </ng-template>

        </div>


        <!-- audio -->
        <div *ngIf="model?.Type == 'audio'">
            <audio controls>
                <source [src]="model?.Link" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <!-- description -->
        <div *ngIf="model?.Type == 'video'" style="height: 48%; overflow: auto;" class="description mat-body-1">
            <div *ngIf="model?.Provider == 'youtube' || model?.Provider == 'bitchute'" [innerText]="model?.Description">
            </div>
            <div *ngIf="model?.Provider == 'lbry' || model?.Provider == 'reddit' || model?.Provider == 'itunes'"
                [innerHTML]="model?.Description">
            </div>
        </div>


        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown' && content" [innerHTML]="content">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown'" [innerHTML]="model?.Content">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown'">
            {{model?.Description}}
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'video' && model?.Description"
            [innerHTML]="model?.Description">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'audio' && model?.Description"
            [innerText]="model?.Description">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'image'">
            <app-preload-img [src]="model?.Link"></app-preload-img>
        </div>

    </div>
</div>