<div id="item-container">
    <mat-toolbar>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-toolbar-row id="mainRow">
            <app-item-icon [ItemType]="model?.Type" [matTooltip]="model?.Title"></app-item-icon>
            <span class="title" [innerHTML]="model?.Title"></span>

            <span class="flex"></span>

            <span class="item-buttons">
                <button mat-icon-button (click)="close.emit()">
                    <mat-icon>close</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>
        <mat-toolbar-row id="secondaryRow">
            <span class="mat-subheading-2"
                (click)="selectSub.emit({id:model.Subscription, label: model.SubscriptionName, leaf:true})">
                {{model?.SubscriptionName}}
            </span>
            <span class="flex">
            </span>
            <span class="mat-caption">
                {{model?.Published | customDate}}
            </span>
        </mat-toolbar-row>
    </mat-toolbar>


    <div id="main" [appLoadingMask]="loading">

        <!-- videos -->
        <div *ngIf="model?.Type == 'video'" style="height: 50%">

            <div *ngIf="model?.Provider == 'itunes' else blockEmbed">
                <video controls width="100%" style="height:100%">
                    <source [src]="model?.Link" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
            <ng-template #blockEmbed>
                <app-iframe-player [url]="model?.Content">
                </app-iframe-player>
            </ng-template>

        </div>


        <!-- audio -->
        <div *ngIf="model?.Type == 'audio'">
            <ngx-audio-player [playlist]="[{title:model?.Title, link: model?.Link}]" [autoPlay]="true" muted="false"
                [displayPlaylist]="false" [pageSizeOptions]="false" [displayArtist]="false" [displayDuration]="true"
                [expanded]="false" [displayVolumeControls]="true" [displayRepeatControls]="true" [displayTitle]="false"
                [disablePositionSlider]="false"></ngx-audio-player>
        </div>

        <!-- description -->
        <div *ngIf="model?.Type == 'video'" style="height: 48%; overflow: auto;" class="description mat-body-1">
            <div *ngIf="model?.Provider == 'youtube' || model?.Provider == 'bitchute'" [innerText]="model?.Description">
            </div>
            <div *ngIf="model?.Provider == 'lbry' || model?.Provider == 'reddit' || model?.Provider == 'itunes'"
                [innerHTML]="model?.Description">
            </div>
        </div>


        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown' && content" [innerHTML]="content">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown'" [innerHTML]="model?.Content">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'unknown'">
            {{model?.Description}}
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'video' && model?.Description"
            [innerHTML]="model?.Description">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'audio' && model?.Description"
            [innerText]="model?.Description">
        </div>

        <div class="content mat-body-1" *ngIf="model?.Type == 'image'">
            <app-preload-img [src]="model?.Link"></app-preload-img>
        </div>

    </div>


    <mat-toolbar id="details">
        <mat-toolbar-row>
            <span class="mat-caption title detailsLink" (click)="openLink()" [matTooltip]="'Open link in new window'">
                <mat-icon>open_in_new</mat-icon> {{model?.Link}}
            </span>
            <span class="flex"></span>
            <span class="item-buttons">
                <button [disabled]="loading" mat-icon-button (click)="donwloadItem()" matTooltip="Download content">
                    <mat-icon>download</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

</div>