.mat-toolbar-row {
    padding-left: 15px !important;
}

#secondaryRow {
    height: 40px !important;
    padding-right: 15px !important;

    .mat-subheading-2 {
        margin: 0px !important;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.title {
    // text-align: left;
    white-space: nowrap;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    // height: 40px;
    // line-height: 40px;
    opacity: 0.8 !important;
}

.item-buttons {
    display: none;
}

#item-container {
    &:hover {
        .item-buttons {
            display: inherit;
        }
    }
}

.description {
    text-align: left;
    font-size: medium;
    padding: 15px;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

.content {
    height: 100%;
    padding: 15px;
    text-align: left;
    overflow: auto;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

#main {
    overflow: hidden;
    flex-direction: column;
    height: calc(100vh - 100px);
    text-align: center;

    img {
        max-width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

mat-progress-bar {
    position: absolute !important;
}
