<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleHideMenu()"
            [matTooltip]="hiddenmenu ? 'Show tree menu' : 'Hide tree menu'" matTooltipPosition="below">
            <mat-icon>{{hiddenmenu ? 'menu' : 'chevron_left'}} </mat-icon>
        </button>
        <span class="title">
            <span *ngFor="let header of headers">
                <ng-container *ngIf="header.path == '/'">
                    <button mat-icon-button (click)="onSelectHeader(header)">
                        <mat-icon>home</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="header.path != '/'">
                    /
                    <button mat-button (click)="onSelectHeader(header)">
                        <mat-icon>{{ header.leaf ? 'rss_feed' : 'folder' }}</mat-icon>
                        {{header.label}}
                    </button>
                </ng-container>
            </span>
        </span>
        <span class="flex"></span>
        <span class="buttons">
            <button mat-icon-button matTooltip="Search text" matTooltipPosition="below">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Mark all as read" matTooltipPosition="below">
                <mat-icon>done_all</mat-icon>
            </button>
            <app-filter-menu (filter)="onChangeFilter($event)"></app-filter-menu>
            <button mat-icon-button (click)="typeGrid = !typeGrid" matTooltip="Change view" matTooltipPosition="below">
                <mat-icon *ngIf="!typeGrid">apps</mat-icon>
                <mat-icon *ngIf="typeGrid">list</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>

</mat-toolbar>

<div #scrollcont class="scroll-container">

    <app-timeline *ngIf="!typeGrid" [selected]="selected$ | async" (select)="onSelecItem($event)"
        (favorite)="onFavoriteItem($event)" (selectSub)="onSelectSub($event)" [items]="items$ | async">
    </app-timeline>

    <app-grid *ngIf="typeGrid" [selected]="selected$ | async" (select)="onSelecItem($event)"
        (selectSub)="onSelectSub($event)" [items]="items$ | async"></app-grid>
</div>

<div class="bottom">
    <span style="flex: 1">
    </span>
    <span style="margin-top: 8px;">
        <app-pagesize (change)="onChangePageSize($event)"> </app-pagesize>
    </span>
    <mat-paginator #paginator [showFirstLastButtons]="true" [length]="total$ | async" (page)="onChangePage($event)"
        hidePageSize="true" [pageSize]="pageSize">
    </mat-paginator>
</div>