<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title"> {{label$ | async}} </span>
        <span class="flex"></span>
        <span class="buttons">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-icon-button (click)="typeGrid = !typeGrid">
                <mat-icon *ngIf="!typeGrid">apps</mat-icon>
                <mat-icon *ngIf="typeGrid">list</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>

</mat-toolbar>

<div #scrollcont style="overflow-y: auto; height:calc(100vh - 100px); ">

    <app-timeline *ngIf="!typeGrid" [selected]="selected$ | async" (select)="onSelecItem($event)"
        (selectSub)="onSelectLeaf($event)" [items]="items$ | async"></app-timeline>

    <app-grid *ngIf="typeGrid" [selected]="selected$ | async" (select)="onSelecItem($event)"
        (selectSub)="onSelectLeaf($event)" [items]="items$ | async"></app-grid>
</div>


<div class="bottom">
    <mat-paginator #paginator [showFirstLastButtons]="true" [length]="total$ | async" (page)="onChangePage($event)"
        [pageSizeOptions]="[30, 50, 100]">
    </mat-paginator>
</div>