<mat-toolbar *ngIf="depth == 0">
    <mat-toolbar-row>
        <span class="flex-container">Subscriptions</span>
        <span class="buttons">
            <button mat-icon-button (click)="store.collapseAll()" matTooltip="Collapse all" matTooltipPosition="below">
                <mat-icon>unfold_less</mat-icon>
            </button>
            <button mat-icon-button (click)="showNodeDialogForm(true)" matTooltip="Add new directory"
                matTooltipPosition="below">
                <mat-icon>create_new_folder</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-list-item [matTooltip]="model.description" matTooltipPosition="right" *ngIf="depth > 0" dndDropzone
    [ngClass]="{selected: isSelected(), loading: isLoading()}" (click)="select($event)" (dndDrop)="onDrop($event)"
    (dndStart)="onDragStart()" (dndEnd)="onDragEnd()" [dndDraggable]="model" [dndDisableDropIf]="!isDroppagle()">

    <button mat-icon-button class="drag_handle" dndHandle>
        <mat-icon>drag_indicator</mat-icon>
    </button>

    <span class="line"
        *ngIf="(model?.children || model?.leaves) && (model?.children.length > 0 || model?.leaves.length > 0)"
        [ngStyle]="{'left': (depth  * 22) + 17 + 'px', 'height': myHeight + 'px', 'z-index': depth * 10}"
        style="border: gray 1px solid; position: absolute; top: 20px; opacity: 0.4"></span>

    <span [ngStyle]="{'width': ((depth - 1) * 22) + 'px'}"></span>

    <span class="line" *ngIf="depth > 1" [ngStyle]="{'left': ((depth * 22) - 4) + 'px', 'z-index':depth * 10}"
        style="position:absolute; width: 14px; border: gray 1px solid; opacity: 0.4;"></span>

    <div style="width: 32px" [ngStyle]="{'z-index': (depth * 10) + 1}">
        <button mat-icon-button *ngIf="isExpansable() && !isLoading()" (click)="expand($event)">
            <mat-icon>{{ model?.children ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
        </button>
        <mat-spinner color="accent" diameter="16" *ngIf="isLoading()"></mat-spinner>
    </div>
    <mat-icon class="folder" dndDragImageRef>{{model.icon ? model.icon: 'folder'}}
    </mat-icon>
    <span class="label flex-container mat-caption">{{model.label}}</span>
    <!-- <span class="items_count mat-caption">{{model.nodes_count}}</span> -->
    <button [style.visibility]="isLoading() ? 'hidden' : 'visible'" mat-icon-button class="options_menu"
        [matMenuTriggerFor]="menu" #menuTrigger (click)="options($event)">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showLeafDialogForm()">
            <mat-icon>add_box</mat-icon>Add subscription
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="showNodeDialogForm(true)">
            <mat-icon>create_new_folder</mat-icon>Add directory
        </button>
        <button mat-menu-item (click)="showNodeDialogForm(false)">
            <mat-icon>mode_edit</mat-icon>Edit directory
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="true">
            <mat-icon>delete</mat-icon>Remove directory
        </button>
    </mat-menu>
</mat-list-item>

<mat-action-list [ngClass]="{first: depth === 0}" *ngIf="model?.children">

    <ng-container *ngFor="let dir of model?.children">
        <treex [dragged]="dragged" [selected]="selected" [loading]="loading" [model]="dir" [path]="subPath(dir)"
            [depth]="depth + 1">
        </treex>
    </ng-container>

    <ng-container *ngFor="let leaf of model?.leaves">
        <treex-item (editLeaf)="showLeafDialogForm($event)" (removeLeaf)="onRemoveLeaf($event)"
            (select)="selectLeaf(leaf)" [model]="leaf" [depth]="depth + 1" [selected]="isLeafSelected(leaf)"
            (dragStart)="onDragStartLeaf(leaf)" (dragEnd)="onDragEnd()"></treex-item>
    </ng-container>

</mat-action-list>