mat-progress-bar {
    display: block;
    height: 2px;
    overflow: hidden;
    position: absolute;
    transition: opacity 350ms linear;
    width: 100%;
    bottom: -4px;
}

.error {
    color: red;
}
