@import "~@angular/material/theming";

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------
@import "src/treex/treex.theme";
@import "src/app/app.theme";

// Define a mixin for easier access
@mixin components-theme($theme) {
    // components
    @include app-theme($theme);
    @include grid-theme($theme);
    @include treex-theme($theme);
    @include custom-modal-theme($theme);
}

$fontConfig: (
    display-4: mat-typography-level(112px, 112px, 300, "Noto Sans", -0.0134em),
    display-3: mat-typography-level(56px, 56px, 400, "Noto Sans", -0.0089em),
    display-2: mat-typography-level(45px, 48px, 400, "Noto Sans", 0em),
    display-1: mat-typography-level(34px, 40px, 400, "Noto Sans", 0.0074em),
    headline: mat-typography-level(24px, 32px, 400, "Noto Sans", 0em),
    title: mat-typography-level(20px, 32px, 500, "Noto Sans", 0.0075em),
    subheading-2: mat-typography-level(16px, 28px, 400, "Noto Sans", 0.0094em),
    subheading-1: mat-typography-level(15px, 24px, 500, "Noto Sans", 0.0067em),
    body-2: mat-typography-level(14px, 24px, 500, "Noto Sans", 0.0179em),
    body-1: mat-typography-level(14px, 20px, 400, "Noto Sans", 0.0179em),
    button: mat-typography-level(14px, 14px, 500, "Noto Sans", 0.0893em),
    caption: mat-typography-level(12px, 20px, 400, "Noto Sans", 0.0333em),
    input: mat-typography-level(inherit, 1.125, 400, "Noto Sans", 1.5px),
);

// // Compute font config
@include mat-core($fontConfig);

$dark-primary: mat-palette($mat-blue-grey, 700, 200, 900);
$dark-accent: mat-palette($mat-orange, 800);
$dark-warn: mat-palette($mat-red, A200);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

body.dark-theme {
    @include angular-material-theme($dark-theme);

    @include components-theme($dark-theme);

    a:-webkit-any-link {
        color: cyan;
    }
}

$light-primary: mat-palette($mat-blue-grey, 700, 200, 900);
$light-accent: mat-palette($mat-orange, 900);
$light-warn: mat-palette($mat-red, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

//$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

body.light-theme {
    @include angular-material-theme($light-theme);

    @include components-theme($light-theme);

    a:-webkit-any-link {
        color: red;
    }
}

////////////////////

::-webkit-scrollbar {
    width: 12px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}
