.menu-top {
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
    margin: 5px;
}

.menu-bottom {
    display: none;
    width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 200;
    margin: 5px;
}

.container {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(255px, 1fr));

    :hover {
        .menu-top,
        .menu-bottom {
            display: block;
        }
    }
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
    margin-bottom: 5px;
    opacity: 0.2;
}

.mat-card-header .mat-card-title {
    opacity: 0.5;
    margin-bottom: 5px !important;
    font-size: 16px !important;
    line-height: 22px !important;
}

.mat-card-title {
    display: initial !important;
}

mat-card {
    min-height: 255px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    .animated {
        animation: fadeIn ease 0.6s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

mat-card-header {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    overflow: hidden;
    opacity: 0.5;
    filter: grayscale(1);
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    max-height: 210px;
}

.details {
    opacity: 0.6;
    display: flex;
    min-height: 15px;
    line-height: 15px;

    .subLink {
        max-width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .itemDate {
        max-width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.hidden {
    display: none;
}

.favorite {
    color: orange !important;
}
