<mat-list-item class="leaf" [matTooltip]="model.description" matTooltipPosition="right"
    [ngClass]="{selected: selected, 'has-items': model?.new_items_count > 0}" (click)="onSelect($event)"
    [dndDraggable]="model" (dndStart)="onDragStart()" (dndEnd)="onDragEnd()">



    <ng-container *ngIf="!isFilteredFavorite">

        <button mat-icon-button class="drag_handle" dndHandle>
            <mat-icon>drag_indicator</mat-icon>
        </button>

        <span style="margin-left: 32px" [ngStyle]="{'width': ((depth - 1) * 22) + 'px'}"></span>

        <span class="line" [ngStyle]="{'left': ((depth * 22) - 4) + 'px'}"
            style="position:absolute; width: 20px; border: gray 1px solid; opacity: 0.4"></span>

    </ng-container>


    <span *ngIf="isFilteredFavorite" style="margin-left: 20px"></span>


    <mat-icon class="folder" dndDragImageRef>{{model.icon ?
        model.icon: 'rss_feed'}}
    </mat-icon>
    <span class="label flex-container mat-caption">
        <span>{{model?.label}}</span>
    </span>
    <span *ngIf="model?.new_items_count > 0" class="items_count mat-caption">{{model?.new_items_count}}</span>
    <button mat-icon-button class="options_menu" [matMenuTriggerFor]="menu" #menuTrigger (click)="options($event)">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="clickFav()">
            <mat-icon>{{ model.favorite ? "star": "star_outline"}}</mat-icon>
            {{ model.favorite ? "Remove": "Add"}}
            Favorite
        </button>
        <button mat-menu-item (click)="clickEdit()">
            <mat-icon>mode_edit</mat-icon>Edit subscription
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="showConfirmRemoveLeaf()">
            <mat-icon>delete</mat-icon>Remove subscription
        </button>
    </mat-menu>

</mat-list-item>