@import "./theme";
@import "./material.icons.css";

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-size: 1.25em;
    height: 2em;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-toolbar-row {
    font-size: 18px !important;
    @include mat-elevation(5);
    height: 50px;
    padding: 2px !important;
}

mat-progress-bar {
    position: absolute !important;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}

.mat-card-header-text {
    margin: 0 0px !important;
}

.mat-tooltip {
    font-size: 14px !important;
}

.flex {
    flex: 1;
}

body {
    overflow: hidden;
    margin: 0;
    zoom: 0.8;
    font-family: "Noto Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-smooth: 2em;
    background-color: #393939;
}

html {
    position: initial !important;
    overflow-y: initial !important;
}

html.cdk-global-scrollblock body {
    overflow: hidden;
}

.cdk-overlay-container {
    overflow: hidden;
}
